.keyBoard {
  padding: 20px 0px 20px 0px;
  background: rgb(17,189,224);
  background: linear-gradient(180deg, rgba(17,189,224,1) 0%, rgba(237,237,252,1) 50%, rgba(126,121,212,1) 100%);
}

.keyRow {
  text-align: center;
  padding: 1px 0px 1px 0px;
}

.key {
  background-color: rgb(211, 208, 208);
  font-size: large;
  border-radius: 5px;
  border: solid black;
  border-width: 1px;
  height: 50px;
}

.active {
  border: solid gold;
  border-width: 2px;
  margin: 2px;
  width: 65px;
  height: 65px;
  opacity: .7;
}

.key-label {
  text-align: left;
  padding-left: 4px;
  color: rgb(139, 136, 136);
  font-size: 12px;
  word-wrap: break-word;
}

.key-active {
  color: gold;
}