.keyBoard {
  padding: 20px 0px 20px 0px;
  background: #3b4161;
  height: 100%;
}

.keyRow {
  text-align: center;
  padding: 0px 0px 0px 0px;
  height: 100%;
  position: relative;
  padding-bottom: 0.1%;
}

.key {
  border-radius: 5%;
  border: solid 0.5px #888888;
  border-width: 1px;
  height: 50px;
  width: 98%;
}

.numRow {
  background-color: #b3eeff;
}

.qweRow {
  background-color: #c8f69b;
}

.asdRow {
  background-color: #ffb1af;
}

.zxcRow {
  background-color: #ffcba5;
}

.active {
  transform: scale(0.8, 0.8);
  opacity: 0.7;
}

.key-label {
  text-align: left;
  padding-left: 5px;
  color: #888888;
  font-size: 12px;
  word-wrap: break-word;
}

@media only screen and (max-width: 1000px) {
  .sound-label {
    visibility: hidden;
    text-align: "center";
    color: "black";
  }
}
