  .login-form-container {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }

 .login-form-box {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   outline: 1px solid black;
   padding: 20px;
   background: white;
   position: relative;
   border-radius: 3px;
   width: 310px;
   background-color: white;
 }

 .form-field-error {
   border: 2px solid red;
   color: red;
 }

 .input-field {
   display: flex;
   flex-direction: column;
 }

 .header-form p {
    text-align: center;
 }
 .input-field > input {
    margin-top: 5px;
    text-align: center;
    border: .5px solid;
    border-radius: 4px;
 }

 .other-form {
   font-size: 13px;
 }

 .other-form span:hover {
   font-weight: 900;
   cursor:  pointer;
 }

 #submit-button {
   border-radius: 4px;
 }

 .logbutton:hover {
   cursor: pointer;
 }