.sound-controls {
  background-color: rgb(211, 208, 208);
  box-shadow: 3px -3px 3px 3px rgb(87, 85, 85);
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  vertical-align: middle;
}

.soundBtn {
  display: inline-block;
  text-align: center;
  padding: 5px 5px 5px 5px;
}

.metronome {
  display: flex;
  vertical-align: middle;
}

.slider {
  width: 150px;
}

#recording-line {
  width: 1px;
  height: 100%;
}

.recording-line-active {
  background-color: red;
  border: solid 1px red;
}

.playing-line-active {
  background-color: grey;
  border: solid 1px grey;
}

.animation {
  animation-name: myanimation;
  animation-duration: 5.9s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
}

@keyframes myanimation
{
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

.hover {
  opacity: .5;
}

.sound-bar {
  display: flex;
  border: 1px solid pink;
  height: 50px;
}